<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<br>
<br> 
<h1 class = "welcome font-xl" > Welcome to the Clients page! </h1>
<br>
<br>
  
<section class="container">
<h2> Create new client form </h2>
  <form method="post" id="myForm">
  <input type="hidden" value="{{id}}" id="client" name="client">
  <input type="hidden" value="put" id="method" name="method">
  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Enter the first name of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="Fname" id="toDoFName" value="{{Fname}}" placeholder = "Client's first name">

  <label for="reps">Enter the last name of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="Lname" id ="toDoLName" value="{{Lname}}" placeholder = "Client's last name">

  <label for="weight">Enter the email of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="email" id="toDoEmail" value="{{email}}" placeholder = "Client's email">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" name="Add Item" value="Add Client" id="tablePost">
  </div>
  </div>
</form>
</section>

<br>
<br>
<br>
<br>

<section class="grid container">
<h2 class ="font-lg place-x-center m-y-5"> List of current clients</h2>  
</section>

<table class="center" >

  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Exercise Plan</th>
    <th>Assigned Trainer</th>
    <th></th>
  </tr>
  {{#each results}}
  <tr>
    <td>{{ClientFN}}</td>
    <td>{{ClientLN}}</td>
    <td>{{ClientEmail}}</td>
    <td>{{ExerciseGoal}}</td>
    <td>{{TrainerFN}} {{TrainerLN}}</td>
    <td class="p-2"> <a class= "text-decoration-none b-rounded b-1 m-2 p-1 b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white"
    onClick="deleteClient({{this.ClientID}})"> Delete Client</a> </td>
  </tr>
  {{/each}}
</table>

<script>
  function deleteClient(ClientID) {
  var link = '/clients/';
  link+= ClientID;
    $.ajax({
      url: link,
      type: 'DELETE',
      success: function(result) {
        window.location.reload(true);
      }
    })
  }
</script>
