
  <br>
  <br> 
  <h1 class = "welcome"> Welcome to the Trainers Management page! </h1>

  <h2> Add certification to trainer </h2>
  <form method="post" id="myForm">
  <input type="hidden" value="{{id}}" id="client" name="client">
  <input type="hidden" value="put" id="method" name="method">
  <label for="name">Enter the first name of the Trainer:</label>
  <input type="text" name="Fname" id="toDoFName" value="{{Fname}}">
  <br>
  <label for="reps">Enter the last name of the trainer:</label>
  <input type="text" name="Lname" id ="toDoLName" value="{{Lname}}">
  <br>
  <label for="weight">Enter the email of the trainer:</label>
  <input type="text" name="email" id="toDoEmail" value="{{email}}">
  <br>
  <label for="weight">Enter the name of the certifcate to be added:</label>
  <input type="text" name="email" id="toDoTFname" value="{{email}}">
  <br>
  <input type="submit" name="Add Item" value="Update" id="tablePost">
</form>
  </body>


  <br>
  <br>
  <br>
  <br>

  <h2>List of current Trainers</h2>

  <table >
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Certification</th>
  </tr>
  <tr>
    <td>Boyd</td>
    <td>Romero</td>
    <td>bromero@gmail.com</td>
    <td>Certificate: NASM</td>
    <td><button type="button" onclick="alert('Deleted Certification')">Remove certification</button></td>
  </tr>

  <tr>
    <td>Christina</td>
    <td>Rodriguez</td>
    <td>crodriguez@gmail.com  </td>
    <td>Certificate: ACE</td>
    <td><button type="button" onclick="alert('Deleted Certification')">Remove certification</button></td>
  </tr>

  <tr>
    <td>Josh</td>
    <td>Kohl</td>
    <td>jkhol@gmail.com</td>
    <td>Certificate: ISSA</td>
    <td><button type="button" onclick="alert('Deleted Certification')">Remove certification</button></td>
  </tr>

</table>
