
<br>
<br> 
<h1 class = "welcome font-xl"> Welcome to the Clients Management page! </h1>

<section class="container"> 
<h2 class="m-t-5"> Assign/Update Client's trainer </h2>
  <form method="post" id="myForm">
  <input type="hidden" value="{{id}}" id="client" name="client">
  <input type="hidden" value="put" id="method" name="method">
  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Enter the first name of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="Fname" id="toDoFName" value="{{Fname}}" placeholder = "Client's first name">
  <label for="reps">Enter the last name of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="Lname" id ="toDoLName" value="{{Lname}}" placeholder = "Client's last name">
  <label for="weight">Enter the email of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="email" id="toDoEmail" value="{{email}}" placeholder = "Client's email">
  <label for="weight">Enter the trainers first name:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="email" id="toDoTFname" value="{{email}}" placeholder = "Trainer's first name">
  <label for="weight">Enter the trainers last name:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="email" id="toDoTLname" value="{{email}}" placeholder = "Trainer's last name">
  <label for="weight">Enter the trainers email:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2"  type="text" name="email" id="toDoTEmail" value="{{email}}" placeholder = "Trainer's email">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" name="Add Item" value="Update Client's Trainer" id="tablePost">
  </div>
  </div>
</form>
</section>


<br>
<br>
<br>
<br>

<section class="grid container">
<h2 class="font-lg place-x-center m-y-5"> List of current clients</h2>
</section>

<table class="center" >

  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Assigned Trainer</th>
  </tr>

  {{#each results}}
  <tr>
    <td>{{ClientFN}}</td>
    <td>{{ClientLN}}</td>
    <td>{{ClientEmail}}</td>
    <td>{{TrainerFN}} {{TrainerLN}}</td>
    <td class="p-2"> <a class= "text-decoration-none b-rounded b-1 m-2 p-1 b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" href="/certs?deleteClient={{this.ClientID}}"> Delete Client</a> </td>
  </tr>
  {{/each}}

  {{!-- <tr>
    <td>John</td>
    <td>Joseph</td>
    <td>JandJ@gmail.com</td>
    <td>Boyd Romero</td>
    <td><button type="button" onclick="alert('Removed Assigned Trainer')">Remove Trainer</button></td>
  </tr>

  <tr>
    <td>Jervis</td>
    <td>Glafira</td>
    <td>JandG@gmail.com</td>
    <td>Christina Rodriguez</td>
    <td><button type="button" onclick="alert('Removed Assigned Trainer')">Remove Trainer</button></td>
  </tr>

  <tr>
    <td>Tracy</td>
    <td>Blanco</td>
    <td>TandB@gmail.com</td>
    <td>Josh Kohl</td>
    <td><button type="button" onclick="alert('Removed Assigned Trainer')">Remove Trainer</button></td>
  </tr> --}}

</table>
