<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<br>
<br> 
<h1 class = "welcome font-xl"> Welcome to the Trainers Management page! </h1>

<section class="container">
  <h2 class = "m-t-5"> Add certification to trainer </h2>
  <form method="post" id="myForm">
  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Enter the first name of the Trainer:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="TrainerFN" id="toDoFName" value="{{Fname}}" placeholder = "Trainer's first name">
  <label for="reps">Enter the last name of the trainer:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="TrainerLN" id ="toDoLName" value="{{Lname}}" placeholder = "Trainer's last name">
  <label for="weight">Enter the email of the trainer:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2"  type="text" name="TrainerEmail" id="toDoEmail" value="{{email}}"placeholder = "Trainer's email">
  <label for="weight">Enter the name of the certifcate to be added:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2"  type="text" name="CertTitle" id="toDoTFname" value="{{email}}"placeholder = "Name of the certificate">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" name="Add Item" value="Update" id="tablePost">
  </div>
  </div>
  </form>
</section>
  
<br>
<br>
<br>
<br>

<section class="grid container">
  <h2 class ="font-lg place-x-center m-y-5">List of current Trainers</h2>
</section>
  

<table class="center">

<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>Certification</th>
  <th></th>
<tr>


{{#each results}} 
<tr>
    <td> {{this.TrainerFN}} </td>
    <td> {{this.TrainerLN}} </td>
    <td> {{this.TrainerEmail}} </td>
    <td> {{this.CertTitle}}
    <td class="p-2"> <a class= "text-decoration-none b-rounded b-1 m-2 p-1 b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" onClick="deleteCert({{this.CertID}}, {{this.TrainerID}})"> Delete Certification</a> </td>
</tr>
{{/each}}

</table>



<script>
  function deleteCert(CertID, TrainerID) {
    $.ajax({
      url: '/mngtrainers/' + CertID + TrainerID, 
      type: 'DELETE',
      success: function(result) {
        window.location.reload(true);
      }
    })
  }
</script>
