
    <br>
    <br> 
    <h1 class = "welcome"> Welcome to the Clients Management page! </h1>

  <h2> Assign/Update Client's trainer </h2>
  <form method="post" id="myForm">
  <input type="hidden" value="{{id}}" id="client" name="client">
  <input type="hidden" value="put" id="method" name="method">
  <label for="name">Enter the first name of your client:</label>
  <input type="text" name="Fname" id="toDoFName" value="{{Fname}}">
  <br>
  <label for="reps">Enter the last name of your client:</label>
  <input type="text" name="Lname" id ="toDoLName" value="{{Lname}}">
  <br>
  <label for="weight">Enter the email of your client:</label>
  <input type="text" name="email" id="toDoEmail" value="{{email}}">
  <br>
  <label for="weight">Enter the trainers first name:</label>
  <input type="text" name="email" id="toDoTFname" value="{{email}}">
  <br>
  <label for="weight">Enter the trainers last name:</label>
  <input type="text" name="email" id="toDoTLname" value="{{email}}">
  <br>
  <label for="weight">Enter the trainers email:</label>
  <input type="text" name="email" id="toDoTEmail" value="{{email}}">
  <br>
  <input type="submit" name="Add Item" value="Update Client's Trainer" id="tablePost">
</form>
  </body>


  <br>
  <br>
  <br>
  <br>

  <h2> List of current clients</h2>

  <table >
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Assigned Trainer</th>
  </tr>
  <tr>
    <td>John</td>
    <td>Joseph</td>
    <td>JandJ@gmail.com</td>
    <td>Boyd Romero</td>
    <td><button type="button" onclick="alert('Removed Assigned Trainer')">Remove Trainer</button></td>
  </tr>

    <tr>
    <td>Jervis</td>
    <td>Glafira</td>
    <td>JandG@gmail.com</td>
    <td>Christina Rodriguez</td>
    <td><button type="button" onclick="alert('Removed Assigned Trainer')">Remove Trainer</button></td>
  </tr>

    <tr>
    <td>Tracy</td>
    <td>Blanco</td>
    <td>TandB@gmail.com</td>
    <td>Josh Kohl</td>
    <td><button type="button" onclick="alert('Removed Assigned Trainer')">Remove Trainer</button></td>
  </tr>

</table>
