

  <br>
  <br> 
  <h1 class = "welcome"> Welcome to the Search page for clients! </h1>

  <h2> Search by first name </h2>
  <form method="post" id="myForm">
  <input type="hidden" value="{{id}}" id="client" name="client">
  <input type="hidden" value="put" id="method" name="method">
  <label for="name">Enter the first name of your client:</label>
  <input type="text" name="Fname" id="toDoFName" value="{{Fname}}">
  <input type="submit" name="Add Item" value="Search" id="tablePost">
  </form>

  <h2> Search by last name </h2>
  <form method="post" id="myForm">
  <input type="hidden" value="{{id}}" id="client" name="client">
  <input type="hidden" value="put" id="method" name="method">
  <label for="name">Enter the last name of your client:</label>
  <input type="text" name="Fname" id="toDoLName" value="{{Lname}}">
  <input type="submit" name="Add Item" value="Search" id="tablePost">
</form>

    <h2> Search by email </h2>
  <form method="post" id="myForm">
  <input type="hidden" value="{{id}}" id="client" name="client">
  <input type="hidden" value="put" id="method" name="method">
  <label for="name">Enter the last name of your client:</label>
  <input type="text" name="Fname" id="toDoLName" value="{{Lname}}">
  <input type="submit" name="Add Item" value="Search" id="tablePost">
</form>


  <h2> Search by assigned trainer </h2>
  <form method="post" id="myForm">
  <input type="hidden" value="{{id}}" id="client" name="client">
  <input type="hidden" value="put" id="method" name="method">
  <label for="name">Enter the first name of the trainer:</label>
  <input type="text" name="Fname" id="toDoFName" value="{{Fname}}">
  <br>
  <label for="name">Enter the last name of your client:</label>
  <input type="text" name="Fname" id="toDoLName" value="{{Lname}}">
  <input type="submit" name="Add Item" value="Search" id="tablePost">
</form>

  </body>


  <br>
  <br>
  <br>
  <br>

  <h2> Search results are listed below</h2>

