

<br>
<br> 
<h1 class = "welcome font-xl"> Welcome to the Search page for clients! </h1>

<section class="container">
<h2 class="m-t-5"> Search by first name </h2>
<form method="post" id="myForm">
  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Enter the first name of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="ClientFN" type="text" id="toDoFName" value="{{Fname}}" placeholder = "Client's first name">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" name="Add Item" value="Search" id="tablePost">
  </div>
  </div>
</form>
</section>


<section class="container">
<h2> Search by last name </h2>
<form method="post" id="myForm">
  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Enter the last name of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="ClientLN" type="text" name="ClientLN" id="toDoLName" value="{{Lname}}" placeholder = "Client's last name">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white"  type="submit" name="Add Item" value="Search" id="tablePost">
  </div>
  </div>
</form>
</section>

<section class="container">
<h2> Search by email </h2>
<form method="post" id="myForm">
  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Enter the email of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="ClientEmail" type="text" name="email" id="toDoEmail" value="{{Lname}}" placeholder = "Client's email">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" name="Add Item" value="Search" id="tablePost">
  </div>
  </div>
</form>
</section>


<section class="container">
  <h2 class = "m-t-5"> Search by Assigned Trainer </h2>
  <form method="post" id="myForm">

  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Select the name of the Trainer:</label>

  <div class="dropdownMenus col-md-12 center m-b-2" >
    <select id="TrainerList" class="form-control" name="TrainerFullName">
      <option>Choose Trainer</option>
      {{#each trainers}}
      <option value="{{this.TrainerFN}},{{this.TrainerLN}}">{{this.TrainerFN}} {{this.TrainerLN}}</option>
      {{/each}}
    </select>
  </div>
  
  <span></span>
  <div class="center">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" id="tablePost" value="Search">
  </div>
  </div>
  </form>
</section>  

<br>
<br>
<br>
<br>

<section class="grid container">
<h2 class ="font-lg place-x-center m-y-5"> Search results are listed below</h2>
</section>




<table class="center" >
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  {{#each results}}
  <tr>
    <td>{{ClientFN}}</td>
    <td>{{ClientLN}}</td>
    <td>{{ClientEmail}}</td>
  </tr>
  {{/each}}
</table>