

<br>
<br> 
<h1 class = "welcome font-xl"> Welcome to the Search page for clients! </h1>

<section class="container">
<h2 class="m-t-5"> Search by first name </h2>
<form method="post" id="myForm">
  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Enter the first name of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="ClientFN" type="text" id="toDoFName" value="{{Fname}}" placeholder = "Client's first name">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" name="Add Item" value="Search" id="tablePost">
  </div>
  </div>
</form>
</section>


<section class="container">
<h2> Search by last name </h2>
<form method="post" id="myForm">
  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Enter the last name of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="ClientLN" type="text" name="ClientLN" id="toDoLName" value="{{Lname}}" placeholder = "Client's last name">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white"  type="submit" name="Add Item" value="Search" id="tablePost">
  </div>
  </div>
</form>
</section>

<section class="container">
<h2> Search by email </h2>
<form method="post" id="myForm">
  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Enter the email of your client:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="ClientEmail" type="text" name="email" id="toDoEmail" value="{{Lname}}" placeholder = "Client's email">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" name="Add Item" value="Search" id="tablePost">
  </div>
  </div>
</form>
</section>


<section class="container">
<h2> Search by assigned trainer </h2>
<form method="post" id="myForm">
  <div class="grid-12 md:grid-6-6 m-t-5">
  <label for="name">Enter the first name of the trainer:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="TrainerFN" type="text" name="Fname" id="toDoFName" value="{{Fname}}" placeholder = "Trainers's first name">
  <label for="name">Enter the last name of the trainer:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="TrainerLN"  type="text" name="Lname" id="toDoLName" value="{{Lname}}" placeholder = "Trainers's last name">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" name="Add Item" value="Search" id="tablePost">
  </div>
  </div>
</form>
</section>

<br>
<br>
<br>
<br>

<section class="grid container">
<h2 class ="font-lg place-x-center m-y-5"> Search results are listed below</h2>
</section>




<table class="center" >
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Exercise Plan</th>
    <th>Assigned Trainer</th>
  </tr>
  {{#each results}}
  <tr>
    <td>{{ClientFN}}</td>
    <td>{{ClientLN}}</td>
    <td>{{ClientEmail}}</td>
    <td>{{ExerciseGoal}}</td>
    <td>{{TrainerFN}} {{TrainerLN}}</td>
  </tr>
  {{/each}}
</table>