<br>
<br> 
<h1 class = "welcome font-xl"> Welcome to the Trainers page! </h1>

<section class="container">
<h2 class="m-t-5"> Create a new trainer </h2>
  <form method="post" id="myForm">
  <div class="grid-12 md:grid-6-6 m-t-5"
  <label for="weight">Enter the trainers first name:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="TrainerFN" id="toDoTFname" value="{{TrainerFN}}" placeholder = "Trainer's first name">
  <label for="weight">Enter the trainers last name:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="TrainerLN" id="toDoTLname" value="{{TrainerLN}}" placeholder = "Trainer's last name">
  <label for="weight">Enter the trainers email:</label>
  <input class="bg-transparent b-black m-b-2 focus:bg-white b-rounded b-1 p-2" type="text" name="TrainerEmail" id="toDoTEmail" value="{{TrainerEmail}}" placeholder = "Trainer's email">
  <span></span>
  <div class="place-x-end">
  <input class="b-rounded b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" type="submit" name="Add Item" value="Add Trainer" id="tablePost">
  </form>
  </div>
  </div>
</section>


<br>
<br>
<br>
<br>

<section class="grid container">
<h2 class="font-lg place-x-center m-y-5"> List of current Trainers</h2>
</section>

<table class="center">

<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th></th>
<tr>


{{#each results}} 
<tr>
    <td> {{this.TrainerFN}} </td>
    <td> {{this.TrainerLN}} </td>
    <td> {{this.TrainerEmail}} </td>
    <td class="p-2"> <a class= "text-decoration-none b-rounded b-1 m-2 p-1 b-black text-accent-dark bg-transparent hover:bg-white hover:raise-1-white" href="/certs?deleteTrainer={{this.TrainerID}}"> Delete Trainer</a> </td>
</tr>
{{/each}}

</table>